<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StadiumGenie AI</title>

    <style>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </style>
</head>

<body>

<div class="container">

<h2>🏟️ StadiumGenie AI</h2>

<div id="chat"></div>

<input
id="message"
type="text"
placeholder="Ask anything...">

<button onclick="sendMessage()">
Send
</button>

</div>

<script>

async function sendMessage(){

const input=document.getElementById("message");

const msg=input.value;

if(msg=="") return;

document.getElementById("chat").innerHTML+=
"<p class='user'>You: "+msg+"</p>";

const response=await fetch("/chat",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({
message:msg
})

});

const data=await response.json();

document.getElementById("chat").innerHTML+=
"<p class='bot'>AI: "+data.reply+"</p>";

input.value="";

}

</script>

</body>
</html>
